:root {
    --background: #303446;
    --background-alt: #232634;
    --green: #a6d189;
    --orange: #ef9f76;
    --purple: #ca9ee6;
    --blue: #99d1db;
    --red: #e68284;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}