:root {
    --background: #303446;
    --background-alt: #232634;
    --green: #a6d189;
    --orange: #ef9f76;
    --yellow: #eed49f;
    --purple: #ca9ee6;
    --blue: #99d1db;
    --red: #e68284;
    --white: #fff;
    --gray: #ccc;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: var(--background-alt);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 20px;
    border: 3px solid var(--background-alt);
}